.logout {
    width: 49px;
    height: 18px;
    font-size: 8px;
    padding: 0;
    line-height: 18px;
    float: right;
}

.header-image{
    height: 450px;
    margin-bottom: 0px;
}

.logo{
    margin-top: 100px;
}

.feed-container{
    padding-top: 30px;
    padding-bottom: 30px;
}


body, .nav-wrapper, .page-footer {
    // background: linear-gradient(50deg, HSLA(205, 62%, 44%, 1), #F62D51);
    background: linear-gradient(50deg, HSLA(205, 62%, 44%, 1), #9b27f3);
}